<%- include ('partials/_header.ejs') -%>



<div class="container">
  <h2 class="text-center py-5">Turnos Boosmap Jumbo Viña</h2>
  <div class="row justify-content-center">
    <div class="card col-md-3 m-5">
      <img src="./assets/admin.jpg" class="card-img-top p-3" style="max-width: 100%; width: auto; height: auto" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Administrador</h5>
        <a href="/admin" class="btn btn-warning">ENTRAR</a>
      </div>
    </div>

    <div class="card col-md-3 m-5">
      <img src="./assets/driver.jpg" class="card-img-top p-3" style="max-width: 100%; width: auto; height: auto" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Picker</h5>
        <a href="/user" class="btn btn-danger">ENTRAR</a>
      </div>
    </div>
  </div>
</div>



<%- include ('partials/_footer.ejs') -%>